<div class="card">
    <div id="imageContainer">
    </div>
    <!--<img alt="product image" class="prod-image" src="/frontend/assets?name=images/haribo.jpg">-->
    <div class="row">
        <span class="category">Gummy Bears</span>
        <div class="rating">
            <div class="star" star="1"></div>
            <div class="star" star="2"></div>
            <div class="star" star="3"></div>
            <div class="star" star="4"></div>
            <div class="star" star="5"></div>
        </div>
    </div>
    <div class="row">
        <h2 class="card-title">Haribo</h2>
        <h2 class="card-title card-price">0,99$</h2>
    </div>
</div>
<style>
    .category {
        background-color: #7BE495;
        border-radius: 15px;
        margin-top: 10px;
        padding: 5px 10px;
    }

    .star {
        width: 20px;
        height: 20px;
        background-color: black;
        -webkit-mask: url("/frontend/assets?name=icons/star.svg") no-repeat center;
        mask: url("/frontend/assets?name=icons/star.svg") no-repeat center;
    }

    .active {
        background-color: #FFDF00;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .prod-image {
        width: 100%;
        height: 75%;
        object-fit: cover;
        overflow: hidden;
        border-radius: 15px;
    }

    .card {
        background-color: #fff;
        border-radius: 35px;
        border: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 300px;
        width: 300px;
        margin: 0 auto;
        padding: 20px;
    }

    h2 {
        margin: 0;
    }

    .rating {
        display: flex;
        flex-direction: row;
    }
</style>

<script>
    const cardId = window.props.cardId;
    const product = window.props.product;
    const card = document.getElementById(`card${cardId + 1}`);

    const title = card.querySelector('.row .card-title');
    title.innerText = product.name;

    const image = card.querySelector("#imageContainer");
    image.innerHTML = `<img alt="product image" class="prod-image" src="/api/store/productImage?pid=${product.id}">`

    const price = card.querySelector('.row .card-price');
    price.innerText = product.price + '$';

    const tag = card.querySelector('.row .category');
    tag.innerText = product.category;

    for (let i = 1; i <= product.stars; i++) {
        const star = card.querySelector(`.row .rating .star[star="${i}"]`)
        star.classList.add("active")
    }

    document.getElementById(`card${cardId + 1}`).addEventListener("click", () => {
        const dialog = document.getElementById("dialog")
        dialog.style.display = "flex"
        fetchAPI('store/product', 'POST', {
            "filter": {
                "id": product.id
            },
            "fields": [
                "id",
                "name",
                "description",
                "category",
                "price",
                "owner",
                "stars",
                "stock"
            ],
            "max": 1
        }).then(json => {
            const prod = json[0]
            loadComponent(dialog, "components/product/product_detail", {
                props: {
                    product: prod
                }
            })
        }).catch(err => {
            alert(err.message)
        });
    })
</script>
