<h1>Destroyed the brain cells containing your password?</h1>
<form id="form-forgot">
    <label for="form-email">Email</label>
    <input id="form-email" name="username" required type="email">
    <button type="submit">Reset</button>
</form>
<span>Memory restored? <a href="javascript:navigate_signIn()">Go Back!</a></span>

<style>
    #app {
        min-height: max(480px, 100%) !important;
    }
</style>

<script>
    if (window.location.pathname !== '/auth/forgot') {
        window.history.pushState({
            path: '/auth/forgot'
        }, '', '/auth/forgot');
    }

    document.getElementById('form-forgot').addEventListener('submit', e => {
        e.preventDefault();
        const formData = {
            email: document.getElementById('form-email').value.trim()
        };
        fetchAPI('/auth/forgot', 'POST', formData, {
            loadingContainer: document.getElementById('form-loading'),
            activityContainer: document.getElementById('form-forgot')
        }).then(() => {
            navigate_signIn();
            alert('Password reset email sent!');
        }).catch(e => {
            e.message
        })
    })
</script>
