<h1>Destroyed the brain cells containing your password?</h1>
<form>
    <label for="form-email">Email</label>
    <input id="form-email" type="email" name="username" required>
    <button type="submit">Reset</button>
</form>
<span>Memory restored? <a href="javascript:navigate_signIn()">Go Back!</a></span>

<style>
    #app {
        min-height: max(480px, 100%) !important;
    }
</style>

<script>
    if (window.location.pathname !== '/auth/forgot') {
        window.history.pushState({
            path: '/auth/forgot'
        }, '', '/auth/forgot');
    }
</script>
