<h1 id="form-header">Validating...</h1>
<p id="form-paragraph">
    <span id="form-text">We're validating your request. This might take some seconds...</span>
</p>
<form id="form-reset" style="display: none">
    <label for="form-password-1">Password</label>
    <input id="form-password-1" type="password" name="password-1" required>
    <label for="form-password-2">Repeat Password</label>
    <input id="form-password-2" type="password" name="password-2" required>
    <button type="submit">Reset</button>
</form>

<style>
    #app {
        min-height: max(400px, 100%) !important;
    }

    p {
        width: 100%;
        text-align: center;
    }

    span {
        font-size: 15px;
    }
</style>

<script>
    function redeemActivation(token) {
        fetchAPI('/auth/redeem', 'POST', {
            token,
            type: 'activate'
        })
            .then(() => {
                document.getElementById('form-header').innerText = 'Success';
                document.getElementById('form-text').innerText = 'Your account has been activated! You can close this tab now.';
            })
            .catch(err => {
                document.getElementById('form-header').innerText = 'Error';
                document.getElementById('form-text').innerText = err.message;
            })
    }

    function redeemForgot(token) {
        document.getElementById('form-header').innerText = 'Reset Password';
        document.getElementById('form-paragraph').style.display = 'none';
        document.getElementById('form-reset').style.removeProperty('display');
        window.token = token;
    }

    function validate() {
        const params = new URLSearchParams(window.query);
        if (!params.has('token') || !params.has('type')) {
            document.getElementById('form-header').innerText = 'Error';
            document.getElementById('form-text').innerText = 'Missing parameter!';
            return;
        }
        const token = params.get('token');
        const type = params.get('type');

        switch (type){
            case 'activate':
                redeemActivation(token);
                break;
            case 'forgot':
                redeemForgot(token);
                break;
            default:
                document.getElementById('form-header').innerText = 'Error';
                document.getElementById('form-text').innerText = 'Invalid token type!';
                return;
        }
    }
    validate();

    document.getElementById('form-reset').addEventListener('submit', (e) => {
        e.preventDefault();

        const password1 = document.getElementById('form-password-1').value;
        const password2 = document.getElementById('form-password-2').value;

        if (password1 !== password2) {
            alert('Passwords do not match!');
            return;
        }

        //check if password contains at least one number, one lowercase and one uppercase letter, and at least 8 characters
        const re = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
        if (!re.test(password1.trim())) {
            alert('Your password must contain at least one number, one lowercase and one uppercase letter, and at least 8 characters');
            return;
        }

        fetchAPI('/auth/redeem', 'POST', {
            token: window.token,
            type: 'forgot',
            password: password1
        })
            .then(() => {
                document.getElementById('form-header').innerText = 'Success';
                document.getElementById('form-paragraph').style.removeProperty('display');
                document.getElementById('form-text').innerText = 'Your password has been reset! You can close this tab now.';
                document.getElementById('form-reset').style.display = 'none';
            })
            .catch(err => {
                alert(err.message);
            })
    })
</script>
