<div class="form-img"></div>
<h1>Sign In</h1>
<span>Don't have an account? <a href="javascript:navigate_signUp()">Sign Up</a></span>
<form>
    <label for="form-email">Email</label>
    <input id="form-email" type="email" name="username" required>
    <label for="form-password">Password</label>
    <input id="form-password" type="password" name="password" required>
    <button type="submit">Sign In</button>
</form>
<span style="width: 90%"><a href="javascript:navigate_forgot()">Forgot password?</a></span>

<style>
    #app {
        min-height: max(620px, 100%) !important;
    }
</style>
