<h1>One last step to enter paradise</h1>
<form id="form-signup">
    <div class="row">
        <div class="column">
            <label for="form-username">Username</label>
            <input id="form-username" name="text" required type="text">
            <label for="form-email">Email</label>
            <input id="form-email" name="username" required type="email">
            <label for="form-emergency-email">Emergency Contact Email</label>
            <input id="form-emergency-email" name="emergency-email" type="email">
            <div class="form-vc" id="form-vc">
                <h1><label for="form-vc-input">Seller</label></h1>
                <div class="form-vc-selector" id="form-vc-selector"
                     onclick="document.getElementById('form-vc-input').checked = !document.getElementById('form-vc-input').checked; onVendorCustomerToggle()">
                    <div class="form-vc-selector-inner" id="form-vc-selector-inner"></div>
                </div>
                <input id="form-vc-input" name="vendor_customer_selector" onchange="onVendorCustomerToggle()"
                       style="display: none"
                       type="checkbox">
                <h1><label for="form-vc-input">Buyer</label></h1>
            </div>
        </div>
        <div class="column">
            <label for="form-password">Password</label>
            <input id="form-password" name="password" required type="password">
            <label for="form-password-repeat">Repeat Password</label>
            <input id="form-password-repeat" name="password" required type="password">
            <label for="form-emergency-phone">Emergency Contact Phone</label>
            <input id="form-emergency-phone" name="emergency-phone" type="tel">
            <button type="submit">Register</button>
            <span style="text-align: center">Already have an account? <a href="javascript:navigate_signIn()">Sign In</a></span>
        </div>
    </div>
</form>

<style>

    .form {
        max-width: 1200px !important;
    }

    .form-vc {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .form-vc span {
        color: #ccc !important;
        font-size: 16px !important;
        margin-bottom: 0 !important;
    }

    .form-vc-selector {
        display: inline-block;
        width: 80px;
        border-radius: 28px;
        height: 39px;
        border: 2px solid #56C596;
        background-color: transparent;
        margin-right: 8px;
        position: relative;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }

    .form-vc-selector-inner {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        background-color: #56C596;
        position: absolute;
        left: 2px;
        top: 2px;
        transition: all 0.2s ease-in-out;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .column {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px;
        height: 100%;
    }

    #app {
        min-height: max(70px, 100%) !important;
    }
</style>

<script>
    if (window.location.pathname !== '/auth/signup') {
        window.history.pushState({
            path: '/auth/signup'
        }, '', '/auth/signup');
    }


    window.onVendorCustomerToggle = () => {
        const formVCInput = document.getElementById('form-vc-input');
        if (!formVCInput.checked) {
            document.getElementById('form-vc-selector-inner').style.left = '2px';
            document.getElementById('form-vc-selector-inner').style.backgroundColor = '#56C596';
            document.getElementById('form-vc-selector').style.border = '2px solid #56C596';
        } else {
            document.getElementById('form-vc-selector-inner').style.left = '43px';
            document.getElementById('form-vc-selector-inner').style.backgroundColor = '#ccc';
            document.getElementById('form-vc-selector').style.border = '2px solid #ccc';
        }
    }

    document.getElementById('form-signup').addEventListener('submit', (e) => {
        e.preventDefault();

        if (document.getElementById('form-password').value !== document.getElementById('form-password-repeat').value) {
            alert('Passwords do not match');
            return;
        }

        if (document.getElementById('form-password').value.trim().length === 0) {
            alert('Please specify a password');
            return;
        }

        const formData = {
            username: document.getElementById('form-username').value.trim(),
            email: document.getElementById('form-email').value.trim(),
            password: document.getElementById('form-password').value.trim(),
            emergencyEmail: document.getElementById('form-emergency-email').value.trim(),
            emergencyPhone: document.getElementById('form-emergency-phone').value.trim(),
            type: document.getElementById('form-vc-input').checked ? 'seller' : 'customer'
        };

        fetchAPI('auth/register', 'POST', formData, {
            loadingContainer: document.getElementById('form-loading'),
            activityContainer: document.getElementById('form')
        }).then(() => {
            const form = document.getElementById('form');
            loadComponent(form, 'components/auth/check_email');
            form.classList.remove('form-animation');
            void form.offsetWidth;
            form.classList.add('form-animation');
        }).catch((err) => {
            alert(err.message);
        });
    });
</script>
