<div class="background"></div>
<img alt="home" class="button backHome" id="back" src="/frontend/assets?name=icons/home.svg">
<div class="seller-dashboard">
    <div class="greetings">
        <div class="title">Hello, <span id="username"></span></div>
        <div class="subtitle">Welcome back to your dashboard</div>
    </div>
    <div class="content">
        <div class="card">
            <div class="title">Sales</div>
            <div class="value" id="totalSales">$ 0</div>
        </div>
        <div class="card">
            <div class="title">Orders</div>
            <div class="value" id="orders">0</div>
        </div>
        <div class="card">
            <div class="title">Products</div>
            <div class="value" id="products">0</div>
        </div>
    </div>
    <div class="cont">
        <div class="latest-sales">
            <div class="title">Latest sales</div>
            <div class="sales" id="sales"></div>
        </div>
    </div>
    <div class="cont">
        <div class="latest-sales">
            <div class="cardHeader">
                <div class="title">Products</div>
                <img class="button add" onclick="createProductDash()" src="/frontend/assets?name=icons/add.svg">
            </div>
            <div class="sales" id="productList"></div>
        </div>
    </div>
</div>
<style>
    .add {
        height: 30px;
        width: 30px;
    }

    .cont {
        width: 100%;
        height: 100%;
        padding: 10px 20px
    }

    .cardHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .prod-image {
        height: 40px;
        width: 40px;
        object-fit: cover;
        overflow: hidden;
    }

    .seller-dashboard {
        display: flex;
        flex-direction: column;
        align-self: start;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .title {
        font-weight: bold;
    }

    .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .action {
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }

    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
    }

    .card {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        background-color: #eee;
        margin: 10px;
        padding: 10px;
    }

    .card:hover {
        background-color: #7BE495;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .title {
        font-size: 20px !important;
    }

    .value {
        font-size: 30px;
        font-weight: bold;
    }

    .latest-sales {
        display: flex;
        flex-wrap: nowrap;
        padding: 10px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: white;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .sales {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: scroll;
        margin-top: 10px;
    }

    .sale {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        padding: 10px;
        border: 1px solid #7BE495;
        border-radius: 10px;
        margin: 10px;
    }

    .sale:last-child {
    }

    .sale .title {
        font-weight: bold;
    }

    .sale .value {
        font-weight: bold;
    }

    .sale:hover {
        background-color: #7BE495;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .sale:hover .title {
        color: white;
    }

    .sale:hover .value {
        color: white;
    }

    .greetings {
        display: flex;
        flex-direction: column;
        padding: 10px 10px 10px 20px;
        align-items: start;
        width: 100%;
    }

    .greetings .title {
        font-size: 30px;
        font-weight: bold;
    }

    .greetings .subtitle {
        font-size: 20px;
    }

    .background {
        background-image: url("/frontend/assets?name=images/background.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        opacity: 1;
        display: flex;
        z-index: -1;
        flex: 1;
        align-items: center;
        justify-content: center;
        height: 100vh;
        min-height: 100vh;
        width: 100%;
    }

    .deleteBtn {
        width: 30px;
        height: 30px;
        background-color: black;
        -webkit-mask: url("/frontend/assets?name=icons/delete.svg") no-repeat center;
        mask: url("/frontend/assets?name=icons/delete.svg") no-repeat center;
    }

    .deleteBtn:hover {
        background-color: red;
        cursor: pointer;
    }

    .backHome {
        width: 30px;
        height: 30px;
        margin: 10px;
        position: absolute;
        top: 0;
        right: 0;
    }

</style>
<script>

    let totalSales = 0;

    window.deleteProduct = (id) => {
        fetchAPI("/store/product", "DELETE", {
            id: id
        }).then(() => {
            refreshProducts()
        }).catch(e => {
            alert(e.message)
        })
    }

    document.getElementById("username").textContent = getUsername()

    refreshProducts()

    function refreshProducts() {
        fetchAPI("/store/product", "POST", {
            filter: {
                seller: getEmail()
            },
            fields: [
                "id",
                "name",
                "price",
            ],
            max: -1
        }).then(result => {
            document.getElementById("products").innerText = result.length
            document.getElementById("productList").innerHTML = ""
            result.forEach(prod => {
                const sale = document.createElement("div");
                sale.className = "sale";
                sale.innerHTML = `
                <img class="prod-image" src="/api/store/productImage?pid=${prod.id}" alt="product image"/>
                <span>id: ${prod.id}</span>
                <span><b>${prod.name}</b></span>
                <span>${prod.price}$</span>
                <div class="deleteBtn" onclick="deleteProduct(${prod.id})"></div>
            `
                document.getElementById("productList").appendChild(sale);
            })
        }).catch(e => {
            document.getElementById("productList").innerHTML = ""
            document.getElementById("products").innerText = "0"
            alert(e.message)
        })
    }

    fetchAPI("/store/order", "POST", {
        filter: {
            seller: getEmail()
        },
        fields: [
            "product",
            "quantity"
        ],
        max: -1
    }).then(result => {
        document.getElementById("orders").innerText = result.length
        result.forEach(res => {
            fetchAPI("/store/product", "POST", {
                filter: {
                    id: res.product
                },
                fields: [
                    "id",
                    "name",
                    "price"
                ],
                max: -1
            }).then(resp => {
                const prod = resp[0]
                const sale = document.createElement("div");
                sale.className = "sale";
                const info = document.createElement("div");
                info.className = "info";
                const title = document.createElement("div");
                title.className = "title";
                title.innerHTML = "Name: " + prod.name;
                const customer = document.createElement("div");
                customer.className = "customer";
                customer.innerHTML = "Quantity: " + res.quantity;
                info.appendChild(title);
                info.appendChild(customer);
                const value = document.createElement("div");
                value.className = "value";
                value.innerHTML = "$ " + prod.price * res.quantity;
                sale.appendChild(info);
                sale.appendChild(value);
                document.getElementById("sales").appendChild(sale);
                totalSales += res.quantity * prod.price
                document.getElementById("totalSales").innerText = "$ " + totalSales
            }).catch(e => {
                alert(e.message)
            })
        })
    })

    document.getElementById("back").addEventListener("click", () => {
        loadComponent(document.getElementById("app"), '/screens/home', {});
    })

    window.createProductDash = () => {
        loadComponent(document.getElementById("seller_dashboard"), '/components/seller/create_product', {});
    }
</script>
