<div class="columns">
    <div class="column">
        <div class="row">
            <div class="close" id="close"></div>
            <div class="green" id="category">sweets</div>
            <div class="green">
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
            <div class="green">
                <div class="mail"></div>
            </div>
        </div>
        <div class="title" id="name">Haribo Goldbears</div>
        <div class="subtitle">Description</div>
        <div class="text-container" id="description">Delicious gummy bears that big and small love. Available in
            different colors and
            flavors.
        </div>
        <div class="subtitle">Reviews</div>
        <div class="reviews" id="reviews"></div>
        <div class="row" style="margin: 5px">
            <input id="revComment" style="width: 100%; height: 40px" type="text"/>
            <button class="green" id="createReview" style="height: 40px; margin: 0">send</button>
        </div>
    </div>
    <div class="column">
        <img class="prod-image" id="image" src="/frontend/assets?name=images/haribo.jpg">
        <div class="purchase">
            <div class="price" id="price">2,99$</div>
            <div class="row">
                <div class="green">
                    <div class="minus" onclick="decreaseCount()"></div>
                </div>
                <div class="count" id="count">1</div>
                <div class="green">
                    <div class="plus" onclick="increaseCount()"></div>
                </div>
                <div class="green" id="purchase">
                    <div>Purchase</div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .rating {
        display: flex;
        flex-direction: row;
    }

    .star {
        width: 20px;
        height: 20px;
        background-color: black;
        -webkit-mask: url("/frontend/assets?name=images/star.svg") no-repeat center;
        mask: url("/frontend/assets?name=images/star.svg") no-repeat center;
    }

    .active {
        background-color: #FFDF00;
    }

    .review_entry {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        border-radius: 15px;
        border: solid 2px #7BE495;
        margin: 5px;
    }

    .reviews {
        height: 100%;
        width: 100%;
        overflow: scroll;
    }

    .columns {
        flex-direction: row;
        display: flex;
        width: 100%;
        align-items: flex-start;
    }

    .column {
        width: 50%;
        margin: 10px;
        justify-content: center;
        align-content: center;
    }

    .row {
        flex-direction: row;
        display: flex;
        align-items: flex-start;
    }

    .green {
        background-color: #7BE495;
        border-radius: 15px;
        padding: 5px 10px;
        height: 30px;
        flex-direction: row;
        display: flex;
        margin: 5px;
        align-items: center;
        justify-content: center;
    }

    .star {
        width: 20px;
        height: 20px;
        background-color: black;
        -webkit-mask: url("/frontend/assets?name=images/star.svg") no-repeat center;
        mask: url("/frontend/assets?name=images/star.svg") no-repeat center;
    }

    .mail {
        width: 20px;
        height: 20px;
        background-color: black;
        -webkit-mask: url("/frontend/assets?name=images/mail.svg") no-repeat center;
        mask: url("/frontend/assets?name=images/star.svg") no-repeat center;
    }

    .plus {
        width: 15px;
        height: 15px;
        background-color: black;
        -webkit-mask: url("/frontend/assets?name=images/plus.svg") no-repeat center;
        mask: url("/frontend/assets?name=images/plus.svg") no-repeat center;
    }

    .minus {
        width: 15px;
        height: 15px;
        background-color: black;
        -webkit-mask: url("/frontend/assets?name=images/minus.svg") no-repeat center;
        mask: url("/frontend/assets?name=images/minus.svg") no-repeat center;
    }

    .close {
        width: 30px;
        height: 30px;
        background-color: black;
        -webkit-mask: url("/frontend/assets?name=icons/close.svg") no-repeat center;
        mask: url("/frontend/assets?name=images/close.svg") no-repeat center;
    }

    .title {
        font-size: 36px;
        margin: 5px;
    }

    .subtitle {
        font-size: 16px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .price {
        font-size: 30px;
        margin: 5px;
        justify-content: center;
        align-content: center;
    }

    .text-container {
        border: solid 2px #CFF4D2;
        border-radius: 15px;
        padding: 5px 10px;
        height: max-content;
        flex-direction: row;
        display: flex;
        margin: 5px;
        font-size: 16px;
        align-content: center;
        justify-content: left;
    }

    .purchase {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .count {
        height: 30px;
        flex-direction: row;
        display: flex;
        margin: 5px;
        align-items: center;
        justify-content: center;
    }

    .prod-image {
        width: 99%;
        height: 300px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 10px;
        justify-content: center;
    }
</style>

<script>
    const product = window.props.product

    let count = 1;
    let price = product.price;

    document.getElementById("category").innerText = product.category
    document.getElementById("name").innerText = product.name
    document.getElementById("image").src = product.image
    document.getElementById("price").innerText = price + "$"
    document.getElementById("description").innerText = product.description

    updateReviews()

    function updateReviews() {
        fetchAPI("/store/review", "POST", {
            "product": product.id
        }).then(res => {
            document.getElementById("reviews").innerHTML = ""
            if (res.length === 0) {
                document.getElementById("reviews").innerText = "No reviews have been posted yet."
            }

            for (let review of res) {
                const reviewEntry = document.createElement("div")
                reviewEntry.className = "review_entry"
                reviewEntry.innerHTML = `
                <div class="reviewer" id="reviewer">${review.writer}</div>
                <div id="comment">${review.comment}</div>
                <div class="rating">
                    <div class="star" star="1"></div>
                    <div class="star" star="2"></div>
                    <div class="star" star="3"></div>
                    <div class="star" star="4"></div>
                    <div class="star" star="5"></div>
                </div>
            `
                document.getElementById("reviews").appendChild(reviewEntry)
            }
        })
    }

    window.decreaseCount = () => {
        if (count > 1) {
            count--;
            updateCount();
            updatePrice();
        }
    }

    window.increaseCount = () => {
        count++;
        updateCount();
        updatePrice();
    }

    window.updateCount = () => {
        document.getElementById("count").innerText = "" + count;
    }

    window.updatePrice = () => {
        document.getElementById("price").innerText = price * count + "$";
    }

    document.getElementById("close").addEventListener("click", () => {
        const dialog = document.getElementById("dialog")
        dialog.style.display = "none"
    })

    document.getElementById("purchase").addEventListener("click", () => {
        fetchAPI("/store/order", "PUT", {
            "product": product.id,
            "quantity": count
        }).then(res => {
            alert(res)
        })
    })

    document.getElementById("createReview").addEventListener("click", () => {
        fetchAPI("/store/review", "PUT", {
            "message": document.getElementById("revComment").value,
            "stars": 2,
            product: product.id
        }).then(res => {
            document.getElementById("revComment").value = ""
            updateReviews()
            alert(res)
        })
    });
</script>
